<header>
  <img src="/images/logo.png" alt="LOGO"></a>
   <!-- logo--https://www.freelogodesign.org/, 3a87bc0b13d04a7d80b850134c3a5744.png -->
  <h1>CAR CARES</h1>
  <h2>"We pamper Cars"</h2>
   
    </header>
    <nav>
      
      <ul>
         <li>
          <a href="/">ADD NEW</a>
         </li>
         <li>
          <a href="/alltickets">ALL TICKETS</a>
         </li>
         <li>
          <a href="/login">ADMIN LOGIN</a>
         </li>
         <li>
          <a href="/logout">LOGOUT</a>
        </li>
        <li>
          <a href="/about">ABOUT US</a>
         </li>
      </ul>
    </nav>