<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/meta.ejs') %>
  <title>Edit Success</title>
</head>
<body class="thankscard">
  <%- include('partials/nav_dashboard.ejs') %>
  <main>
    <h1>THANK YOU</h1>
    <h2>Service Request has been succesfully edited. </h2>
    
  </main>
  
  <%- include('partials/footer.ejs') %>
</body>
</html>