@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
body{
    padding: 20px;
   /* background-image: url(/images/mceu_29351637811635170099148_1635170099.jpg);
    /* image- mceu_29351637811635170099148_1635170099.jpg, How Modifications Impact Your Car Insurance?,
    https://www.insurancedekho.com/car-insurance/news/how-modifications-impact-your-car-insurance.htm  */
    background-size: cover;
    font-family: 'Cinzel', serif;
    color: rgb(255, 204, 0);
    width: 1000px;
    align-items: center;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
}

body.ticket main{
    background-size: cover;
    padding-bottom: 40px;
    border: 5px solid #8b0b0b;
}
body.card footer{
    color: black;
}

main{
    width: 600px;
    margin: 20px auto;
    border: 2px solid cornsilk;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.513);
    color: cornsilk;
}

main h1{
    font-weight: normal;
    text-align: center;
    color: cornsilk;
}

main h2{
    font-weight: normal;
    text-align: center;
    color: cornsilk;
}

h1,h2{
    color: cornsilk;
    text-shadow: 1px 1px black;
}

main .carimage{
    font-weight: normal;
    text-align: left;
    color: cornsilk;
}

main .wrapper{
    margin: 10px;
}

main .wrapper label{
    display: inline-block;
    width: 180px;
    font-size: 25px;
}

main .wrapper input{
    background-color: transparent;
    border: 1px solid cornsilk;
    color: cornsilk;
    font-size: 20px;
    width: 355px;
    border-radius: 5px;
}

main .submission{
    text-align: center;
    margin: 20px;
}

main .submission input{
    border: 2px solid cornsilk;
    background-color: rgba(0, 0, 0, 0.513);
    font-size: 24px;
    font-family: 'Cinzel', serif;
    color: cornsilk;
    padding: 5px 10px;
    border-radius: 10px 10px 10px 10px;
    transition: 0.5s;  
}

main .submission input:hover{
    background-color: cornsilk;
    color: black;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.513);
    color: cornsilk;
}

.error{
    font-size: 12px;
    color: cornsilk;
    text-align: right;
}

.thankscardData{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.thankscardData img{
    width: 170px;
    border: 4px solid orangered;
   
}

body.thankscard footer, body.thankscard header{
    color: black;
}

header{
    text-align: center;
}

nav{
text-align: center;
background-color: rgba(0, 0, 0, 0.513);
width: 1060px;
font-size: 25px;
border: 2px solid cornsilk;
border-radius: 25px;
}

header img{
    float: left;
    width: 120px;
    height: 150px;
}

nav ul{
list-style: none;  
padding: 0;  
}

nav ul li {
    display: inline-block;
}

nav ul li a:hover{
    background-color: cornsilk;
    color: black;
    border-radius: 25px;    
}

nav ul a{
    color: cornsilk;
    display: inline-block;
    padding: 0 30px;
    text-decoration: none;
}